.chip-input {
  border-width: 0px;
  border-bottom: 2px solid #6f6b6b;
  height: 25px;
}

.chip-input:focus {
  outline: none;
}

.chip-comp {
  display: inline-block;

  border-width: 0px;
  border-bottom: 2px solid #6f6b6b;
  height: 26px;
}

.chip-item {
  padding: 2px 10px 2px 5px;
  margin: 0 5px;
  background: #ccc;
}

.item {
  cursor: pointer;
}
